@media (max-width: 965px) {
  .featured__block{
    padding-left:(20em/14) ;
    padding-right: (20em/14) ;
  }
}
@media (max-width: 1024px) {
  .featured__flex {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .featured__img_block{
    margin: 0 auto;
   // margin-left: 5%;
    //margin-right: 5%;
  }
}

@media (max-width: 768px){
  .container_opacity_adaptive{
    padding-left: (20em/14);
    padding-right: (20em/14);
  }
  .article__content_block{

  }
  .article__h3{
  }
  .article__img_block{

  }
  .article__p_text_block_description{
    padding-right: (20em/14);

  }
  .article__p_text_block_description_hidden{
    max-width: 100%;
  }
  .article__content_block{
    padding-top: (160em/14);
    padding-left: (20em/14);
    padding-right: (20em/14);
  }
  .article__text_block{
    background-color: white;
    >p.article__p_text_block_description{
      @extend %text__block_description;
      padding-left: (20em/14);
    }
    >p.article__p_text_block_description_hidden{
      @extend %text_block_description_hidden;
      padding-left: (20em/14);

    }
    >.article__p_text_block_proceed {
      @extend %text__block_proceed;
      padding-left: (20em/14);
      padding-bottom: (36em/14);
    }}
}