
@import "nullstyle.scss";
@import "variables.scss";
@import "mixin.scss";
@import "templates/sample__img__block.scss";
@import "templates/sample__img__block_title.scss";
@import "templates/sample__text__block_description.scss";
@import "templates/sample__text__block_proceed.scss";
@import "templates/sample__block_indication.scss";
@import "templates/sample__grid_block_text";
@import "templates/sample__grid_block_title";
@import "templates/sample__grid_block_icon";
@import "templates/sample__text_block_description_hidden.scss";
body{
  background-color: black;

}
.wrapper{

  .container_opacity{
    position: relative;
    background-image: linear-gradient(rgba(0 , 0 , 0 ,0.4) , rgba(0 , 0 , 0 ,0.4)) ,  url("../img/img_bloks_bcg/block_1_bcg.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 105%;
    padding-top: (60em/14);
    padding-bottom: 5%;
  }
}
header{

}
.header__img-logo{
  display: block;
  height: 40px;
  width: 176px;
  margin: 0 auto (52em/14) ;
}
.header__nav{

}
.header__nav_ul{
  max-width: (684em/14);
  margin: 0 auto;
  @include fz_ls( 0.785em , 1.3px );
  &.ul_flex{
    display: flex;
    justify-content: space-between;

  }
}
.header__nav_ul_li{
  margin-bottom: 74px;
  .header__nav_ul_li_a{
  color: white;
  text-transform: uppercase;
  }
  .header__nav_ul_li_a:hover{
    padding-bottom: 14px;
    border-bottom: #FFFFFF solid 2px;
  }
}
main{
  max-width: (800em/14);
  margin: 0 auto;
}
.article__img_block {

  position: relative;
@extend %img__block;
  max-width: 100%;
  &.img_block_1{
    background-image: url("../img/img__bloсks/block_1.png");

  }
  &.img_block_2{
    background-image: url("../img/img__bloсks/block_2.png");
  }
  &.img_block_3{
    background-image: url("../img/img__bloсks/block_3.png");
  }
  .article__h3{
    @extend %img__block_title;
  }
}
.article__text_block{
  background-color: white;
  >p.article__p_text_block_description{
    @extend %text__block_description;
  }
  >p.article__p_text_block_description_hidden{
    @extend %text_block_description_hidden;

  }
  >.article__p_text_block_proceed{
    @extend %text__block_proceed;
    padding-left: (62em/14);
    padding-bottom: (36em/14);
    button{
     @extend %text__block_proceed;
      &.article__button_block_proceed:hover{
      color:black;
     }
    }
  }
}
.article__grid_block {
  color: white;
  width: 162px;
  display: grid;
  grid-template-areas: "icon title"
                        "icon text";
  grid-gap: 4px;
  padding-bottom: (20em/14);

  .article__grid_block_icon{
    grid-area: icon;
  }
  .article__grid_block_title{
    grid-area: title;
    @extend %sample__grid_block_text;
  }
  .article__grid_block_text{
    @extend %sample_grid_block_text;
    grid-area: text;
  }
}
.article__content_block{
  padding-top: (160em/14);
  padding-left: (60em/14);
  padding-bottom: (40em/14);
}
.article__indication{
@extend %block_indication;
}
.archive__block {
  height: 211px;
  background-color: #f1f1f1;
  padding-top: 49px;

  .archive__question {
    font-size: (30em/14);
    text-align: center;
    line-height: 36px;
    padding-bottom:21px ;
  }

  .archive__button_visit {
    display: block;
    height: 45px;
    width: (182em/14);
    background-color: #8d4fdb;
    color: white;
    border-radius: 3px;
    margin: 0 auto;

  }
}
.article__p_text_block_description_hidden{
 @extend %text_block_description_hidden;
}
.featured{
  background-color: #FFFFFF;
}
.featured__block{
 max-width: 940px;
  margin: 0 auto;
}
.featured__title{
  text-align: center;
  font-family: $ffM;
  line-height: 40px;
  font-size: 40px;
  padding-top:85px ;
  padding-bottom:25px ;
  grid-area: title;
}
.featured__text{
  text-align: center;
  line-height: 33px;
  font-size: 23px;
  padding-bottom: 50px;
  grid-area: text;

}
.featured__flex {
display: flex;
  justify-content: space-between;
}
.featured__img_block {
  //@extend %img__block;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  margin-bottom: (23em/14);
  &.img_block_1{
    background-image: url("../img/img__bloсks/block_1.png");
  }
}
.featured__content_block{

}
.featured__h3{
  font-size: 18px;
  line-height: 28px;
  color: black;
  margin-bottom: 56px;
}
.featured__grid_block_icon{
 grid-area: icon;
}

.block_icon_1{
  background-image: url("../img/block_icons/icons_35px/block_icon_1.png");
  width: 35px;
  height: 35px;

}
.block_icon_2{
  background-image: url("../img/block_icons/icons_35px/block_icon_2.png");
  width: 35px;
  height: 35px;
}
.block_icon_3{
  background-image: url("../img/block_icons/icons_35px/block_icon_1.png");
  width: 35px;
  height: 35px;
}
  .featured__grid_block {
    padding-top:131px;
    padding-left: 24px ;
    color: white;
    width: 162px;
    display: grid;
    grid-template-areas: "icon title"
                        "icon text";
    grid-gap: 4px;
    padding-bottom: (20em/14);
  }
  .featured__grid_block{
    width: 180px;
  }
.feature__question{
  font-family: $ffL;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  padding-bottom: 90px;
}
.footer{
  padding-top: 55px;
  padding-bottom: 45px;
 a{
   color:#8D4FDB;
 }
}
.footer__text{
  color: #8B8B8B;
  text-align: center;
  line-height: 28px;
  font-family: $ffL;

}
.footer__flex{
  display: flex;
  justify-content: center;
}
.footer__text_1{
  margin-bottom:10px ;
}
.footer__text_2 {
  margin-right: 10px;
}


@import "adaptiv.scss";