%block_indication{
  position: absolute;
  top:5.5%;
  left:90.3%;
  width: 60px;
  height: 25px;
  background-color:black ;
  opacity: 0.2;
  border-radius: 30px ;
  color: white;
  text-align: center;
  font-size: 8px;
  line-height: 24.5px;
  font-family: $ffM;
  text-transform: uppercase;
}